.profileBox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 3em;
}

.profileimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#intro{
    font-style: italic;
}

.footer{
    padding: 1em;
    display: block;
    margin: auto;
    text-align: center;
}